.searchBox {
  text-align: center;
}

#search {
  width: 700px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 8px;
}

.auto-complete {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 1;
  left: 25%;
}

.auto-complete li {
  list-style: none;
  padding: 16px;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #ccc;
  background-color: #fff;
}
